
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overscroll-behavior: none;
}

main {
  width: 90%;
  max-width: 800px;
  margin: 32px auto;
}

club-list {
  display: block;
  margin: auto;
  margin-top: 32px;
  max-width: 800px;
  padding: 16px;
}